<div style="text-align: center">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Wedding</mat-card-title>
      <mat-card-subtitle>Event id : 3</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="assets\images\marriage.jpg"
      alt="Photo of a machhupichhu"
    />
    <mat-card-content>
      <p>
        You booked <b>"Wedding"</b> as the event,<br />
        please contact the admin @9999999999 for more info.<br />
        Due to covid pandemic the events are being with only 50 to 60
        members.<br />
        if your requirment exceedes, please inform in prior and donot forget to
        read our terms and conditions.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Thank You</button>
    </mat-card-actions>
  </mat-card>
</div>
